<!DOCTYPE html>
<html lang="zh-TW">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Sean & Cindy 0530 WaddingDay</title>
    <meta name="description" content="打給厚！我們要Get婚了！">

    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">

    <meta property="og:title" content="Sean & Cindy 0530 WaddingDay">
    <meta property="og:description" content="打給厚！我們要Get婚了！">
    <meta property="og:type" content="website">
    <meta property="og:url" content="">
    <meta property="og:site_name" content="Sean & Cindy 0530 WaddingDay">
    <meta property="og:image" content="img/og-img.webp">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Allura&family=Marcellus&family=Noto+Serif+TC:wght@200..900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
        integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="lib/wow/animate.css" rel="stylesheet" />
    <link rel="stylesheet" href="css/menu-foot-style.css" asp-append-version="true" />
    <link rel="stylesheet" href="css/index-style.css" asp-append-version="true" />
    <link rel="stylesheet" href="lib/timer/timer.css" asp-append-version="true" />

</head>

<body>

    <main>
        <!-- 公司menu -->
        <div id="import-menu"></div>

        <audio id="bgMusic" loop>
            <source src="/sound/music.mp3" type="audio/mpeg">
        </audio>

        <!-- <button id="musicBtn">🔊 開啟音樂</button> -->
        <section class="section-area area1">
            <div class="container-xl">
                <div class="row ">
                    <div class="col-12  wow fadeIn">
                        <div class="po-item">
                            <div class="row align-items-center justify-content-center">
                                <div class="col-6 col-md-3 col-lg-2 col-xl-2 order-2 order-lg-1" data-wow-delay="0.2s">
                                    <div class="text-item">
                                        <h2>Sean</h2>
                                        <p>劉伯宣</p>
                                    </div>
                                </div>
                                <div class="col-12 col-md-10 col-lg-8 col-xl-6 order-1 order-lg-2">
                                    <div class="item">
                                        <h3>不止婚禮，更是團聚</h3>
                                        <div class="pic-item">
                                            <h2>Wedding day</h2>
                                            <img src="img/img1.webp" alt="">
                                        </div>
                                        <h4>We<span>'</span> re finally getting married <span>!</span> </h4>
                                    </div>
                                </div>
                                <div class="col-6 col-md-3 col-lg-2 col-xl-2 order-3 order-lg-3" data-wow-delay="0.2s">
                                    <div class="text-item">
                                        <h2>Cindy</h2>
                                        <p>褚毓晴</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="section-area area2">
            <div class="container-xl">
                <div class="row align-items-center">
                    <div class="col-lg-6 mb-3 wow fadeInUp">
                        <div class="item">
                            <img src="img/1.webp" alt="">
                            <p>以前總覺得婚禮是一場成果發表會<br>
                                現在才明白這是一場<br>
                                人生為數不多的相聚
                            </p>
                        </div>
                    </div>
                    <div class="col-12 col-lg-6 mb-3 wow fadeInUp">
                        <div class="item">
                            <div class="video-container">
                                <video src="video/2.mp4" muted loop playsinline webkit-playsinline></video>
                            </div>
                            <span>Sean & Cindy</span>

                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="section-area area3">
            <div class="container-fluid gx-0 overflow-hidden">
                <div class="row gx-0 align-items-center">
                    <div class="col-lg-7 wow fadeInUp">
                        <div class="pic-item">
                            <img src="img/img2.webp" alt="">
                        </div>
                    </div>
                    <div class="col-lg-5 wow fadeIn">
                        <div class="item">
                            <p>人生有三萬多天</p>
                            <p>很開心這一天是你為我們而來<br>見證我們此生最重要的決定</p>
                            <img src="img/2.webp" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="section-area area4" id="invite">
            <div class="container-xl">
                <div class="row justify-content-around">
                    <div class="col-12 wow fadeInUp">
                        <div class="title-item">
                            <div class="d-block w-100">
                                <img src="img/3.webp" alt="">
                            </div>
                            <a href="#invitation">Invitation</a>
                            <h2>誠摯邀請</h2>
                        </div>
                    </div>
                    <div class="col-5 wow fadeInUp">
                        <div class="item">
                            <img src="img/img4.webp" alt="">

                            <div class="text-item">
                                <p>新郎</p>
                                <h2>劉伯宣</h2>
                                <img class="line" src="img/7.webp" alt="">
                                <p>男方家長</p>
                                <h2 class="p">劉賜斌 潘麗華</h2>
                            </div>
                        </div>
                    </div>
                    <div class="col-5 wow fadeInUp">
                        <div class="item">
                            <img src="img/img3.webp" alt="">

                            <div class="text-item">
                                <p>新娘</p>
                                <h2>褚毓晴</h2>
                                <img class="line" src="img/7.webp" alt="">

                                <p>女方家長</p>
                                <h2 class="p">褚秀男 林麗芬</h2>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 pt-0 pt-lg-5 wow fadeInUp">
                        <div class="title-item2">
                            <h2>敬邀</h2>
                        </div>
                        <div class="text-item2">

                            <p>2026年05月30日 星期六 晚宴</p>
                            <p>17:00 證婚儀式</p>
                            <p>18:00 準時開席</p>

                            <p>新莊典華 北歐光境</p>
                            <!-- <p>新北市新莊區中央路469號</p> -->
                            <img src="img/4.webp" alt="">
                        </div>

                    </div>
                </div>
            </div>
        </section>
        <section class="section-area area5 wow fadeIn">
            <!-- <img class="d-block d-xl-none w-100" src="img/img5.webp" alt=""> -->
        </section>
        <section class="section-area area6" id="dressCode">
            <div class="container-xl">
                <div class="row justify-content-center">
                    <div class="col-12 wow fadeInUp">
                        <div class="item">
                            <img src="img/5.webp" alt="">
                            <h2>Dress Code</h2>
                            <h3>服裝建議</h3>
                            <p>這一天讓新娘任性一下吧！<br>
                                如果方便請穿著以下色系服飾<br>
                                藍色系/卡其色/米色/白色</p>
                            <img class="dot" src="img/8.webp" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="section-area area7">
            <div class="container-xl">
                <div class="row align-items-center">
                    <div class="col-12 col-lg-5 wow fadeIn order-2 order-lg-1 mb-3">
                        <div class="video-item">
                            <div class="video-container">
                                <video src="video/1.mp4" muted loop playsinline webkit-playsinline></video>

                            </div>
                            <img src="img/6.webp" alt="">
                        </div>
                    </div>
                    <div class="col-12 col-lg-7 wow fadeInUp order-1 order-lg-2 mb-3">
                        <div class="item">
                            <img src="img/9.webp" alt="">
                            <p>氣溫10度拍的婚紗<br>
                                兩個Ｉ人迎來的第一個婚姻考驗</p>
                            <p>還好10年的感情沒有那麼容易散啦</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="section-area area8 wow fadeIn">
            <!-- <img class="d-block d-xl-none w-100" src="img/img6.webp" alt=""> -->

        </section>
        <section class="section-area area9">
            <div class="container-xl">
                <div class="row">
                    <div class="col-12 wow fadeInUp">
                        <div class="item">
                            <h2>活動倒數</h2>
                            <img src="img/comming.webp" alt="">
                        </div>
                    </div>
                    <div class="col-12 pt-5 overflow-hidden wow fadeIn">
                        <div class="row justify-content-center">
                            <div class="col-10">
                                <div class="row justify-content-center py-1 py-lg-5 gx-1 gx-md-2 gx-xl-3 gx-xxl-5">
                                    <div class="col-3 col-md-2">
                                        <div class="time">
                                            <h2 id="days">00</h2>
                                            <p>天</p>
                                        </div>
                                    </div>
                                    <div class="col-3 col-md-2">
                                        <div class="time">
                                            <h2 id="hours">00</h2>
                                            <p>時</p>
                                        </div>
                                    </div>
                                    <div class="col-3 col-md-2">
                                        <div class="time">
                                            <h2 id="minutes">00</h2>
                                            <p>分</p>
                                        </div>
                                    </div>
                                    <div class="col-3 col-md-2">
                                        <div class="time">
                                            <h2 id="seconds">00</h2>
                                            <p>秒</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </section>
        <section class="section-area area10" id="invitation">
            <div class="container-xl position-relative">
                <img class="img-top" src="img/bg3.webp" alt="">
                <div class="container-xl">
                    <div class="row">
                        <div class="col-12 wow fadeInUp">
                            <div class="title-item">
                                <h2>賓客回函</h2>
                                <p>請於3/31前回覆確認人數，拜偷拜偷</p>
                                <p>不然會派出劉伯宣每天傳IG廢片提醒你</p>
                                <p>2月底前填表的大好人，Ｊ人新娘加碼送小禮物！！</p>
                            </div>
                        </div>
                    </div>
                    <div id="app" class="row justify-content-center py-5">
                        <div class="col-11 col-xl-8 py-lg-5  wow fadeInUp">

                            <form class="row justify-content-center" @submit.prevent="submitForm">

                                <div class="col-lg-6 mb-2">
                                    <label class="form-label">姓名</label>
                                    <input type="text" class="form-control" v-model="form.name" required>
                                </div>

                                <div class="col-lg-6  mb-2">
                                    <label class="form-label">聯絡電話</label>
                                    <input type="tel" class="form-control" v-model="form.phone" required>
                                </div>

                                <div class="col-12  mb-2">
                                    <label class="form-label">您和新人的關係是？</label>
                                    <select class="form-select" v-model="form.relation" required>
                                        <option disabled value="">請選擇</option>
                                        <option>男方親戚</option>
                                        <option>男方同學</option>
                                        <option>男方朋友</option>
                                        <option>洗破皮</option>
                                        <option>小貓球隊</option>
                                        <option>女方親戚</option>
                                        <option>女方同學</option>
                                        <option>女方朋友</option>
                                    </select>
                                </div>

                                <div class="col-12  mb-2">
                                    <label class="form-label">是否出席5/30的婚禮</label>
                                    <select class="form-select" v-model="form.attend" required>
                                        <option disabled value="">請選擇</option>
                                        <option>可以參加</option>
                                        <option>無法參加</option>
                                        <option>我一定會參加，但是我不確定要攜幾個伴 或是隱+3 ，所以我先填表 (+80分)</option>
                                        <option>我原本有事....但為了這個婚禮，決定排除萬難決定參加了！！ (+120分)</option>
                                        <option>嗚嗚嗚嗚嗚嗚，我真的沒辦法參加，私訊留言祝福 (看字數+分) </option>
                                    </select>
                                </div>

                                <template
                                    v-if="form.attend === '可以參加' || form.attend === '我一定會參加，但是我不確定要攜幾個伴 或是隱+3 ，所以我先填表 (+80分)' || form.attend === '我原本有事....但為了這個婚禮，決定排除萬難決定參加了！！ (+120分)'">

                                    <div class="col-lg-6  mb-2">
                                        <label class="form-label">出席的成人人數</label>
                                        <select class="form-select" v-model="form.adults" required>
                                            <option disabled value="">請選擇</option>
                                            <option>1人</option>
                                            <option>2人</option>
                                            <option>3人</option>
                                            <option>4人</option>
                                            <option>5人</option>
                                        </select>
                                    </div>

                                    <div class="col-lg-6  mb-2">
                                        <label class="form-label">出席的兒童人數</label>
                                        <select class="form-select" v-model="form.children" required>
                                            <option disabled value="">請選擇</option>
                                            <option>0</option>
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                        </select>
                                    </div>

                                    <div class="col-lg-6  mb-2">
                                        <label class="form-label">小寶貝需要幾張兒童椅</label>
                                        <select class="form-select" v-model="form.childSeat" required>
                                            <option disabled value="">請選擇</option>
                                            <option>0</option>
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                        </select>
                                    </div>

                                    <div class="col-lg-6  mb-2">
                                        <label class="form-label">是否準備素食？需要幾份呢？</label>
                                        <select class="form-select" v-model="form.vegetarian" required>
                                            <option disabled value="">請選擇</option>
                                            <option v-for="n in 8" :key="n">{{ n }}</option>
                                        </select>
                                    </div>

                                </template>

                                <!-- 是否需要實體喜帖 -->
                                <div class="col-12 mb-2">
                                    <label class="form-label">需要紙本喜帖嗎？</label>
                                    <select class="form-select" v-model="form.needCard" required>
                                        <option disabled value="">請選擇</option>
                                        <option>不用啦！環保愛地球，電子喜帖就好漂亮了欸</option>
                                        <option>我需要紙本喜帖收藏一輩子！</option>
                                    </select>
                                </div>
                                <template v-if="form.needCard === '我需要紙本喜帖收藏一輩子！'">
                                    <div class="col-12 mb-2">
                                        <label class="form-label">喜帖地址</label>
                                        <input type="text" class="form-control" v-model="form.address" required>
                                    </div>

                                </template>

                                <div class="col-12 mb-2">
                                    <label class="form-label">我有超厲害、超實用的建議或其他需求</label>
                                    <textarea class="form-control" rows="10" v-model="form.message"
                                        placeholder="想與新人說的話..." required></textarea>
                                </div>

                                <div class="text-center mt-5">
                                    <button type="submit" class="btn btn-send px-5" :disabled="isSubmitting">
                                        {{ isSubmitting ? '送出中…' : 'SEND' }}
                                    </button>

                                </div>

                            </form>

                        </div>
                    </div>
                </div>
                <img class="img-bottom" src="img/bg4.webp" alt="">
            </div>
        </section>
        <section class="section-area area11" id="commuting">
            <div class="container-xl">
                <div class="row justify-content-center">
                    <div class="col-12  wow fadeInUp">
                        <div class="item">
                            <h2>交通方式</h2>
                            <img src="img/text-img.webp" alt="">
                        </div>
                    </div>
                    <div class="col-lg-10  wow fadeInUp">
                        <a target="_blank" href="https://maps.app.goo.gl/16EtdAKjWrgkSxQE9">

                            <img class="w-100" src="img/map.webp" alt="">
                        </a>
                    </div>
                    <div class="col-10  wow fadeInUp">
                        <div class="text-item">
                            <h3>劉伯宣特別推薦 要一起“小酌”的人看這邊 </h3>
                        </div>

                        <h4>機場捷運</h4>
                        <p>A4新莊副都心站 <span>2號出口(步行約3分鐘)</span></p>

                        <h4>公車資訊</h4>
                        <ul>
                            <li>捷運新莊副都心站 | <span>798、835</span></li>
                            <li>捷運新莊副都心站(中央路) | <span>617、622、982、982區</span></li>
                            <li>行政院新莊聯合辦公大樓 | <span>617、783、786、859、813區、F208、652</span></li>
                            <li>中原路 | <span>橘17、813、813區、藍18、257、617、622、615、835</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <section class="section-area area12  wow fadeIn">
            <!-- <img class="d-block d-xl-none w-100" src="img/img7.webp" alt=""> -->
        </section>
        <div id="import-footer"></div>

        <div class="arrow-up">
            <div onclick="scrollToTop()">
                <img src="img/TOP.webp" alt="">
            </div>
        </div>

        <!-- 進站遮罩 -->
        <div id="introOverlay">
            <div class="introBox">
                <h2>Welcome</h2>
                <h3>伯宣 & 毓晴</h3>
                <p>♡ 請開啟聲音，瀏覽更加分 ♡</p>

                <button id="enterBtn" class="btn" disabled>
                    <span class="btn-text">▸</span>
                </button>
            </div>
        </div>
    </main>


    <script src="lib/jquery/dist/jquery.min.js"></script>
    <script>
        $(function () {
            $("#import-menu").load("import-menu.html");
            $("#import-footer").load("import-footer.html");
        });
    </script>
    <script>

        window.addEventListener('scroll', function () {
            let scroll = document.querySelector('.arrow-up');
            scroll.classList.toggle("active", window.scrollY > 500)
        })

        function scrollToTop() {
            window.scrollTo({
                top: 0
            })
        }
    </script>

    <script src="lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="js/style.js"></script>
    <script src="lib/wow/wow.min.js"></script>
    <script src="lib/vue2/vue.js"></script>
    <script src="lib/axios/axios.js"></script>
    <script src="lib/sweetalert/sweetalert.min.js"></script>
    <script src="js/form.js"></script>
    <script src="lib/timer/timer.js"></script>
    <script>

        var wow = new WOW(
            {
                boxClass: 'wow',      // 要套用WOW.js縮需要的動畫class(預設是wow)
                animateClass: 'animated', // 要"動起來"的動畫(預設是animated, 因此如果你有其他動畫library要使用也可以在這裡調整)
                offset: 0,          // 距離顯示多遠開始顯示動畫 (預設是0, 因此捲動到顯示時才出現動畫)
                mobile: true,       // 手機上是否要套用動畫 (預設是true)
                live: true,       // 非同步產生的內容是否也要套用 (預設是true, 非常適合搭配SPA)
                callback: function (box) {
                    // 當每個要開始時, 呼叫這裡面的內容, 參數是要開始進行動畫特效的element DOM
                },
                scrollContainer: null // 可以設定成只套用在某個container中捲動才呈現, 不設定就是整個視窗
            }
        );
        wow.init();
    </script>
    <script>
        window.addEventListener('load', function () {

            const btn = document.getElementById('enterBtn');
            const btnText = btn.querySelector('.btn-text');
            const overlay = document.getElementById('introOverlay');
            const music = document.getElementById('bgMusic');

            // 網站完全載入後啟用按鈕
            btn.disabled = false;
            btnText.textContent = "▸";
            btn.classList.add('active');

            // 點擊進入
            btn.addEventListener('click', function () {

                // 播放音樂（手機一定要這一步）
                music.play().catch(() => { });

                // 關閉遮罩
                overlay.style.opacity = "0";

                setTimeout(() => {
                    overlay.style.display = "none";
                }, 500);

            });

        });

        // 點擊後關閉遮罩
        document.getElementById('enterBtn').addEventListener('click', function () {

            const overlay = document.getElementById('introOverlay');

            overlay.style.opacity = 0;

            setTimeout(() => {
                overlay.style.display = "none";
            }, 600);

        });
    </script>
    <script>
        const videos = document.querySelectorAll('video');

        const observer = new IntersectionObserver((entries) => {
            entries.forEach(entry => {
                const video = entry.target;

                if (entry.isIntersecting) {
                    video.play().catch(() => { });
                } else {
                    video.pause();
                }
            });
        }, {
            threshold: 0.5 // 影片有50%出現在畫面才播放
        });

        videos.forEach(video => {
            observer.observe(video);
        });
    </script>
</body>

</html>