<!DOCTYPE html>
<html lang="zh-TW">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Sean & Cindy 0530 Wedding Day</title>
    <meta name="description" content="打給厚！我們要Get婚了！">

    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">

    <meta property="og:title" content="Sean & Cindy 0530 Wedding Day">
    <meta property="og:description" content="打給厚！我們要Get婚了！">
    <meta property="og:type" content="website">
    <meta property="og:url" content="">
    <meta property="og:site_name" content="Sean & Cindy 0530 Wedding Day">
    <meta property="og:image" content="img/og-img.webp">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Allura&family=Marcellus&family=Noto+Serif+TC:wght@200..900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
        integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="lib/wow/animate.css" rel="stylesheet" />
    <link rel="stylesheet" href="css/menu-foot-style.css" asp-append-version="true" />
    <link rel="stylesheet" href="css/index-style.css" asp-append-version="true" />
    <link rel="stylesheet" href="lib/timer/timer.css" asp-append-version="true" />

</head>

<body>

    <main>
        <!-- 公司menu -->
        <div id="import-menu"></div>

        <audio id="bgMusic" loop>
            <source src="/sound/music.mp3" type="audio/mpeg">
        </audio>

        <!-- <button id="musicBtn">🔊 開啟音樂</button> -->
        <section class="section-area area1">
            <div class="container-xl">
                <div class="row ">
                    <div class="col-12  wow fadeIn">
                        <div class="po-item">
                            <div class="row align-items-center justify-content-center">
                                <div class="col-6 col-md-3 col-lg-2 col-xl-2 order-2 order-lg-1" data-wow-delay="0.2s">
                                    <div class="text-item">
                                        <h2>Sean</h2>
                                        <p>劉伯宣</p>
                                    </div>
                                </div>
                                <div class="col-12 col-md-10 col-lg-8 col-xl-6 order-1 order-lg-2">
                                    <div class="item">
                                        <h3>不止婚禮，更是團聚</h3>
                                        <div class="pic-item">
                                            <h2>Wedding day</h2>
                                            <img src="img/img1.webp" alt="Sean & Cindy Wedding Day"
                                                title="Sean & Cindy Wedding Day">
                                        </div>
                                        <h4>We<span>'</span> re finally getting married <span>!</span> </h4>
                                    </div>
                                </div>
                                <div class="col-6 col-md-3 col-lg-2 col-xl-2 order-3 order-lg-3" data-wow-delay="0.2s">
                                    <div class="text-item">
                                        <h2>Cindy</h2>
                                        <p>褚毓晴</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <a href="#Sean&Cindy" class="arrow-down wow fadeIn" aria-label="向下滑動瀏覽頁面"><i
                    class="fa-solid fa-angles-down"></i></a>
        </section>

        <section class="section-area area2" id="Sean&Cindy">
            <div class="container-xl">
                <div class="row align-items-center">
                    <div class="col-lg-6 mb-3 wow fadeInUp">
                        <div class="item">
                            <img src="img/1.webp" alt="以前總覺得婚禮是一場成果發表會 現在才明白這是一場 人生為數不多的相聚"
                                title="以前總覺得婚禮是一場成果發表會 現在才明白這是一場 人生為數不多的相聚">
                            <p>以前總覺得婚禮是一場成果發表會<br>
                                現在才明白這是一場<br>
                                人生為數不多的相聚
                            </p>
                        </div>
                    </div>
                    <div class="col-12 col-lg-6 mb-3 wow fadeInUp">
                        <div class="item">
                            <div class="video-container">
                                <video id="firstVideo" src="video/2.mp4" muted loop playsinline
                                    webkit-playsinline></video>
                            </div>
                            <span>Sean & Cindy</span>

                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="section-area area3">
            <div class="container-fluid gx-0 overflow-hidden">
                <div class="row gx-0 align-items-center">
                    <div class="col-lg-7 wow fadeInUp">
                        <div class="pic-item">
                            <img src="img/img2.webp" alt="人生有三萬多天 很開心這一天是你為我們而來 見證我們此生最重要的決定"
                                title="人生有三萬多天 很開心這一天是你為我們而來 見證我們此生最重要的決定">
                        </div>
                    </div>
                    <div class="col-lg-5 wow fadeIn">
                        <div class="item">
                            <p>人生有三萬多天</p>
                            <p>很開心這一天是你為我們而來<br>見證我們此生最重要的決定</p>
                            <img src="img/2.webp" alt="人生有三萬多天 很開心這一天是你為我們而來 見證我們此生最重要的決定"
                                title="人生有三萬多天 很開心這一天是你為我們而來 見證我們此生最重要的決定">
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="section-area area4" id="invite">
            <div class="container-xl">
                <div class="row justify-content-around">
                    <div class="col-12 wow fadeInUp">
                        <div class="title-item">
                            <div class="d-block w-100">
                                <img src="img/3.webp" alt="誠摯邀請" title="誠摯邀請">
                            </div>
                            <a href="#invitation">Invitation</a>
                            <h2>誠摯邀請</h2>
                        </div>
                    </div>
                    <div class="col-5 wow fadeInUp">
                        <div class="item">
                            <img src="img/img4.webp" alt="新郎 劉伯宣" title="新郎 劉伯宣">

                            <div class="text-item">
                                <p>新郎</p>
                                <h2>劉伯宣</h2>
                                <img class="line" src="img/7.webp" alt="新郎 劉伯宣" title="新郎 劉伯宣">
                                <p>男方家長</p>
                                <h2 class="p">劉賜斌 潘麗華</h2>
                            </div>
                        </div>
                    </div>
                    <div class="col-5 wow fadeInUp">
                        <div class="item">
                            <img src="img/img3.webp" alt="新娘 褚毓晴" title="新娘 褚毓晴">

                            <div class="text-item">
                                <p>新娘</p>
                                <h2>褚毓晴</h2>
                                <img class="line" src="img/7.webp" alt="新娘 褚毓晴" title="新娘 褚毓晴">

                                <p>女方家長</p>
                                <h2 class="p">褚秀男 林麗芬</h2>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 pt-0 pt-lg-5 wow fadeInUp">
                        <div class="title-item2">
                            <h2>敬邀</h2>
                        </div>
                        <div class="text-item2">

                            <p>2026年05月30日 星期六 晚宴</p>
                            <p>17:00 證婚儀式</p>
                            <p>17:45 準時開席</p>

                            <p>新莊典華 北歐光境</p>
                            <img src="img/4.webp" alt="敬邀 新莊典華 北歐光境" title="敬邀 新莊典華 北歐光境">
                        </div>

                    </div>
                </div>
            </div>
        </section>
        <section class="section-area area5 wow fadeIn"></section>
        <section class="section-area area6" id="dressCode">
            <div class="container-xl">
                <div class="row justify-content-center">
                    <div class="col-12 wow fadeInUp">
                        <div class="item">
                            <img src="img/5.webp" alt="服裝建議" title="服裝建議">
                            <h2>Dress Code</h2>
                            <h3>服裝建議</h3>
                            <p>這一天讓新娘任性一下吧！<br>
                                如果方便請穿著以下色系服飾<br>
                                藍色系/卡其咖啡色系/米白杏色系/灰色系</p>
                            <img class="dot" src="img/8.webp" alt="服裝建議 藍色系/卡其咖啡色系/米白杏色系/灰色系"
                                title="服裝建議 藍色系/卡其咖啡色系/米白杏色系/灰色系">
                            <span>• (圖片顏色僅供參考 可以不用一模一樣哦！)</span>

                            <img class="dot" src="img/8-1.webp" alt="避雷顏色！會被笑是桌巾哦！" title="避雷顏色！會被笑是桌巾哦！">
                            <span class="text-danger">• 避雷顏色！會被笑是桌巾哦！</span>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="section-area area7" id="video">
            <div class="container-xl">
                <div class="row align-items-center">
                    <div class="col-12 col-lg-5 wow fadeIn order-2 order-lg-1 mb-3">
                        <div class="video-item">
                            <div class="video-container">
                                <!-- <video src="video/1.mp4" muted loop playsinline webkit-playsinline></video> -->
                                <video poster="video/video.webp" src="video/3.mp4" controls
                                    controlsList="nodownload noremoteplayback" disablePictureInPicture></video>

                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-7 wow fadeInUp order-1 order-lg-2 mb-3">
                        <div class="item">
                            <img src="img/9.webp" alt="氣溫10度拍的婚紗 這應該是婚姻迎來的第一個考驗 還好10年的感情沒有那麼容易散啦"
                                title="氣溫10度拍的婚紗 這應該是婚姻迎來的第一個考驗 還好10年的感情沒有那麼容易散啦">
                            <p>氣溫10度拍的婚紗<br>
                                這應該是婚姻迎來的第一個考驗</p>
                            <p>還好10年的感情沒有那麼容易散啦</p>
                        </div>
                    </div>

                </div>
            </div>
        </section>
        <section class="section-area area8 wow fadeIn"></section>
        <section class="section-area area9">
            <div class="container-xl">
                <div class="row">
                    <div class="col-12 wow fadeInUp">
                        <div class="item">
                            <h2>活動倒數</h2>
                            <img src="img/comming.webp" alt="活動倒數" title="活動倒數">
                        </div>
                    </div>
                    <div class="col-12 pt-5 overflow-hidden wow fadeIn">
                        <div class="row justify-content-center">
                            <div class="col-10">
                                <div class="row justify-content-center py-1 py-lg-5 gx-1 gx-md-2 gx-xl-3 gx-xxl-5">
                                    <div class="col-3 col-md-2">
                                        <div class="time">
                                            <h2 id="days">00</h2>
                                            <p>天</p>
                                        </div>
                                    </div>
                                    <div class="col-3 col-md-2">
                                        <div class="time">
                                            <h2 id="hours">00</h2>
                                            <p>時</p>
                                        </div>
                                    </div>
                                    <div class="col-3 col-md-2">
                                        <div class="time">
                                            <h2 id="minutes">00</h2>
                                            <p>分</p>
                                        </div>
                                    </div>
                                    <div class="col-3 col-md-2">
                                        <div class="time">
                                            <h2 id="seconds">00</h2>
                                            <p>秒</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </section>
        <section class="section-area area10  d-none" id="invitation">
            <div class="container-xl position-relative">
                <img class="img-top" src="img/bg3.webp" alt="賓客回函" title="賓客回函">
                <div class="container-xl">
                    <div class="row">
                        <div class="col-12">
                            <div class="title-item">
                                <h2>賓客回函</h2>
                                <p>請於3/31前回覆確認人數，拜偷拜偷</p>
                                <p>不然會派出劉伯宣每天傳IG廢片提醒你</p>
                                <p>2月底前填表的大好人，Ｊ人新娘加碼送小禮物！！</p>
                            </div>
                        </div>
                    </div>
                    <div id="app" class="row justify-content-center py-5">
                        <div class="col-11 col-xl-8 py-lg-5  wow fadeInUp">

                            <form class="row justify-content-center" @submit.prevent="submitForm">

                                <div class="col-lg-6 mb-2">
                                    <label for="name" class="form-label">姓名</label>
                                    <input id="name" type="text" class="form-control"
                                        :class="{ 'is-invalid': errors.name }" v-model="form.name">
                                    <div class="invalid-feedback mb-4">
                                        {{ errors.name }}
                                    </div>
                                </div>

                                <div class="col-lg-6  mb-2">
                                    <label for="phone" class="form-label">聯絡電話</label>
                                    <input id="phone" type="tel" class="form-control"
                                        :class="{ 'is-invalid': errors.phone }" v-model="form.phone">
                                    <div class="invalid-feedback mb-4">
                                        {{ errors.phone }}
                                    </div>
                                </div>

                                <div class="col-12  mb-2">
                                    <label for="relation" class="form-label">您和新人的關係是？</label>
                                    <select id="relation" class="form-select" :class="{ 'is-invalid': errors.relation }"
                                        v-model="form.relation" @change="clearError('relation')">
                                        <option disabled value="">請選擇</option>
                                        <option>男方親戚</option>
                                        <option>男方同學</option>
                                        <option>男方朋友</option>
                                        <option>小貓球隊</option>
                                        <option>女方親戚</option>
                                        <option>女方同學</option>
                                        <option>女方朋友</option>
                                    </select>
                                    <div class="invalid-feedback mb-4">
                                        {{ errors.relation }}
                                    </div>
                                </div>

                                <div class="col-12  mb-2">
                                    <label for="attend" class="form-label">是否出席5/30的婚禮</label>
                                    <select id="attend" class="form-select" :class="{ 'is-invalid': errors.attend }"
                                        v-model="form.attend" @change="clearError('attend')">
                                        <option disabled value="">請選擇</option>
                                        <option>可以參加</option>
                                        <option>無法參加</option>
                                        <option>我一定會參加，但是我不確定要攜幾個伴 或是隱+3 ，所以我先填表 (+80分)</option>
                                        <option>我原本有事....但為了這個婚禮，決定排除萬難決定參加了！！ (+120分)</option>
                                        <option>嗚嗚嗚嗚嗚嗚，我真的沒辦法參加，私訊留言祝福 (看字數+分)</option>
                                    </select>
                                    <div class="invalid-feedback mb-4">
                                        {{ errors.attend }}
                                    </div>
                                </div>

                                <template
                                    v-if="form.attend === '可以參加' || form.attend === '我一定會參加，但是我不確定要攜幾個伴 或是隱+3 ，所以我先填表 (+80分)' || form.attend === '我原本有事....但為了這個婚禮，決定排除萬難決定參加了！！ (+120分)'">

                                    <div class="col-lg-6  mb-2">
                                        <label for="adults" class="form-label">出席的成人人數</label>
                                        <select id="adults" class="form-select" :class="{ 'is-invalid': errors.adults }"
                                            v-model="form.adults" @change="clearError('adults')">
                                            <option disabled value="">請選擇</option>
                                            <option>1人</option>
                                            <option>2人</option>
                                            <option>3人</option>
                                            <option>4人</option>
                                            <option>5人</option>
                                        </select>
                                        <div class="invalid-feedback mb-4">
                                            {{ errors.adults }}
                                        </div>
                                    </div>

                                    <div class="col-lg-6  mb-2">
                                        <label for="children" class="form-label">出席的兒童人數</label>
                                        <select id="children" class="form-select"
                                            :class="{ 'is-invalid': errors.children }" v-model="form.children"
                                            @change="clearError('children')">
                                            <option disabled value="">請選擇</option>
                                            <option>0</option>
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                        </select>
                                        <div class="invalid-feedback mb-4">
                                            {{ errors.children }}
                                        </div>
                                    </div>

                                    <div class="col-lg-6  mb-2">
                                        <label for="childSeat" class="form-label">小寶貝需要幾張兒童椅</label>
                                        <select id="childSeat" class="form-select"
                                            :class="{ 'is-invalid': errors.childSeat }" v-model="form.childSeat"
                                            @change="clearError('childSeat')">
                                            <option disabled value="">請選擇</option>
                                            <option>0</option>
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                        </select>
                                        <div class="invalid-feedback mb-4">
                                            {{ errors.childSeat }}
                                        </div>
                                    </div>

                                    <div class="col-lg-6  mb-2">
                                        <label for="vegetarian" class="form-label">是否準備素食？需要幾份呢？</label>
                                        <select id="vegetarian" class="form-select"
                                            :class="{ 'is-invalid': errors.vegetarian }" v-model="form.vegetarian"
                                            @change="clearError('vegetarian')">
                                            <option disabled value="">請選擇</option>
                                            <option>0</option>
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                            <option>4</option>
                                            <option>5</option>
                                            <option>6</option>
                                            <option>7</option>
                                            <option>8</option>

                                        </select>
                                        <div class="invalid-feedback mb-4">
                                            {{ errors.vegetarian }}
                                        </div>
                                    </div>

                                </template>

                                <!-- 是否需要實體喜帖 -->
                                <div class="col-12 mb-2">
                                    <label for="needCard" class="form-label">需要紙本喜帖嗎？</label>
                                    <select id="needCard" class="form-select" :class="{ 'is-invalid': errors.needCard}"
                                        v-model="form.needCard" @change="clearError('needCard')">
                                        <option disabled value="">請選擇</option>
                                        <option>不用啦！環保愛地球，電子喜帖就好漂亮了欸</option>
                                        <option>我需要紙本喜帖收藏一輩子！</option>
                                    </select>
                                    <div class="invalid-feedback mb-4">
                                        {{ errors.needCard }}
                                    </div>
                                </div>
                                <template v-if="form.needCard === '我需要紙本喜帖收藏一輩子！'">
                                    <div class="col-12 mb-2">
                                        <label for="address" class="form-label">喜帖地址</label>
                                        <input id="address" type="text" :class="{ 'is-invalid': errors.address }"
                                            class="form-control" v-model="form.address">
                                        <div class="invalid-feedback mb-4">
                                            {{ errors.address }}
                                        </div>
                                    </div>

                                </template>

                                <div class="col-12 mb-2">
                                    <label for="message" class="form-label">我有超厲害、超實用的建議或其他需求</label>
                                    <textarea id="message" :class="{ 'is-invalid': errors.message }"
                                        class="form-control" rows="10" v-model="form.message"
                                        placeholder="想與新人說的話..."></textarea>
                                    <div class="invalid-feedback mb-4">
                                        {{ errors.message }}
                                    </div>
                                </div>

                                <div class="text-center mt-5">
                                    <button type="submit" class="btn btn-send px-5" :disabled="isSubmitting">
                                        {{ isSubmitting ? '送出中…' : 'SEND' }}
                                    </button>

                                </div>

                            </form>

                        </div>
                    </div>
                </div>
                <img class="img-bottom" src="img/bg4.webp" alt="賓客回函" title="賓客回函">
            </div>
        </section>
        <section class="section-area area10 " id="searchSeat">
            <div class="container-xl position-relative">
                <div class="container-xl">
                    <div class="row">
                        <div class="col-12 wow fadeInUp">
                            <div class="item">
                                <h2>查詢座位</h2>
                                <p>座位已經安排好啦！快來看看自己座哪裡吧！</p>
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-center py-5">
                        <div class="col-11 col-xl-8 py-lg-5  wow fadeInUp">
                            <div id="seat" class="row justify-content-center">
                                <div class="col-12 mb-2">
                                    <div class="input-group mb-3">
                                        <input type="text" class="form-control" placeholder="姓名"
                                            v-model.trim="form.name" @compositionstart="handleCompositionStart"
                                            @compositionend="handleCompositionEnd" @keydown.enter.prevent="handleEnter">
                                        <button class="btn btn-send px-2 px-lg-5" type="button" :disabled="loading"
                                            @click="searchSeat" type="button">
                                            {{ loading ? '查詢中...' : '查詢座位' }}
                                        </button>
                                    </div>
                                </div>

                                <transition name="fade">
                                    <div v-if="showModal" class="modal-mask" @click.self="closeModal">
                                        <div class="modal-wrap">
                                            <button class="modal-close" type="button" @click="closeModal">×</button>

                                            <div class="modal-header">
                                                <h2 class="modal-title">
                                                    <span v-if="modalState === 'loading'">查詢中</span>
                                                    <span v-else-if="modalState === 'success'">查詢結果</span>
                                                    <span v-else-if="modalState === 'error'">查詢結果</span>
                                                </h2>
                                            </div>

                                            <div class="modal-body">
                                                <template v-if="modalState === 'loading'">
                                                    <div class="loading-spinner"></div>
                                                    <div class="modal-message">正在查詢座位資訊，請稍候...</div>
                                                </template>

                                                <template v-else-if="modalState === 'success'">
                                                    <div class="result-item justify-content-center">
                                                        <div class="text-center">謝謝你的參與！17:00證婚不見不散♡</div>
                                                    </div>
                                                    <div class="result-item">
                                                        <div class="result-label">姓名</div>
                                                        <div class="result-value">：{{ result.name || '-' }}</div>
                                                    </div>

                                                    <div class="result-item">
                                                        <div class="result-label">桌號</div>
                                                        <div class="result-value">：{{ result.table || '-' }}</div>
                                                    </div>

                                                    <div class="result-item">
                                                        <div class="result-label">座位</div>
                                                        <div class="result-value">：{{ result.seat || '-' }}</div>
                                                    </div>


                                                    <!-- <div class="result-item">
                                                        <div class="result-label">備註</div>
                                                        <div class="result-value">：{{ result.note || '無' }}</div>
                                                    </div> -->
                                                </template>

                                                <template v-else-if="modalState === 'error'">
                                                    <div class="modal-message text-center text-danger">{{ modalMessage
                                                        }}</div>
                                                </template>
                                            </div>

                                            <div class="modal-footer">
                                                <button class="modal-btn btn px-5" type="button" @click="closeModal">
                                                    關閉
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </transition>

                            </div>
                        </div>
                    </div>
                </div>
        </section>
        <section class="section-area area11" id="commuting">
            <div class="container-xl">
                <div class="row justify-content-center">
                    <div class="col-12  wow fadeInUp">
                        <div class="item">
                            <h2>交通方式</h2>
                            <img src="img/text-img.webp" alt="交通方式" title="交通方式">
                        </div>
                    </div>
                    <div class="col-lg-10  wow fadeInUp">
                        <a target="_blank" href="https://maps.app.goo.gl/16EtdAKjWrgkSxQE9">

                            <img class="w-100" src="img/map.webp" alt="交通地圖" title="交通地圖">
                        </a>
                    </div>
                    <div class="col-10  wow fadeInUp">
                        <div class="text-item">
                            <h3>劉伯宣特別推薦 要一起“小酌”的人看這邊 </h3>
                        </div>

                        <h4>機場捷運</h4>
                        <ul>
                            <li>A4新莊副都心站 <span>2號出口(步行約3分鐘)</span></li>
                        </ul>

                        <h4>公車資訊</h4>
                        <ul>
                            <li>捷運新莊副都心站 | <span>798、835</span></li>
                            <li>捷運新莊副都心站(中央路) | <span>617、622、982、982區</span></li>
                            <li>行政院新莊聯合辦公大樓 | <span>617、783、786、859、813區、F208、652</span></li>
                            <li>中原路 | <span>橘17、813、813區、藍18、257、617、622、615、835</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <section class="section-area area12  wow fadeIn"></section>
        <div id="import-footer"></div>

        <div class="arrow-up">
            <div onclick="scrollToTop()">
                <img src="img/TOP.webp" alt="" title="">
            </div>
        </div>

        <!-- 進站遮罩 -->
        <div id="introOverlay">
            <div class="introBox">
                <h2>Welcome</h2>
                <h3>伯宣 & 毓晴</h3>
                <p>♡ 請開啟聲音，瀏覽更加分 ♡</p>
                <p id="loadingText" class="loading-dots">載入中<span></span><span></span><span></span></p>
                <!-- <button id="enterBtn" class="btn" disabled>
                    <span class="btn-text"></span>
                </button> -->


                <div id="enterBtn" class="cheers-area">

                    <img src="/img/glass.webp" class="glass glass-left" alt="Welcome to 伯宣 & 毓晴 Wedding Day"
                        title="Welcome to 伯宣 & 毓晴 Wedding Day">

                    <div class="start-text">START</div>

                    <img src="/img/glass.webp" class="glass glass-right" alt="Welcome to 伯宣 & 毓晴 Wedding Day"
                        title="Welcome to 伯宣 & 毓晴 Wedding Day">
                    <audio id="cheersSound" preload="auto">
                        <source src="/sound/cheers.mp3" type="audio/mpeg">
                    </audio>
                </div>

            </div>
        </div>

    </main>


    <script src="lib/jquery/dist/jquery.min.js"></script>
    <script>
        $(function () {
            $("#import-menu").load("import-menu.html");
            $("#import-footer").load("import-footer.html");
        });
    </script>
    <script>

        window.addEventListener('scroll', function () {
            let scroll = document.querySelector('.arrow-up');
            scroll.classList.toggle("active", window.scrollY > 500)
        })

        function scrollToTop() {
            window.scrollTo({
                top: 0
            })
        }
    </script>

    <script src="lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="js/style.js"></script>
    <script src="lib/wow/wow.min.js"></script>
    <script src="lib/vue2/vue.js"></script>
    <script src="lib/axios/axios.js"></script>
    <script src="lib/sweetalert/sweetalert.min.js"></script>
    <script src="js/form.js"></script>
    <script src="js/seat.js"></script>
    <script src="lib/timer/timer.js"></script>
    <script>
        var wow = new WOW(
            {
                boxClass: 'wow',
                animateClass: 'animated',
                offset: 0,
                mobile: true,
                live: true,
                callback: function (box) {
                },
                scrollContainer: null
            }
        );
        wow.init();
    </script>
    <script>
        window.addEventListener('load', async function () {
            const enterBtn = document.getElementById('enterBtn');
            const overlay = document.getElementById('introOverlay');
            const music = document.getElementById('bgMusic');
            const loadingText = document.getElementById('loadingText');
            const cheersArea = document.querySelector('.cheers-area');
            const cheersSound = document.getElementById('cheersSound');
            const glasses = document.querySelectorAll('.glass');
            const firstVideo = document.getElementById('firstVideo');

            let isEntering = false;

            function waitForFonts() {
                if (document.fonts && document.fonts.ready) {
                    return document.fonts.ready.catch(() => { });
                }
                return Promise.resolve();
            }

            function waitForImages(images) {
                const tasks = Array.from(images).map(img => {
                    if (img.complete && img.naturalWidth > 0) {
                        return Promise.resolve();
                    }

                    return new Promise(resolve => {
                        const done = () => resolve();
                        img.addEventListener('load', done, { once: true });
                        img.addEventListener('error', done, { once: true });
                    });
                });

                return Promise.all(tasks);
            }

            function waitForMediaReady(mediaEl) {
                return new Promise(resolve => {
                    if (!mediaEl) {
                        resolve();
                        return;
                    }

                    if (mediaEl.readyState >= 3) {
                        resolve();
                        return;
                    }

                    const done = () => {
                        cleanup();
                        resolve();
                    };

                    const cleanup = () => {
                        mediaEl.removeEventListener('canplaythrough', done);
                        mediaEl.removeEventListener('loadeddata', done);
                        mediaEl.removeEventListener('error', done);
                    };

                    mediaEl.addEventListener('canplaythrough', done, { once: true });
                    mediaEl.addEventListener('loadeddata', done, { once: true });
                    mediaEl.addEventListener('error', done, { once: true });

                    try {
                        mediaEl.load();
                    } catch (e) {
                        resolve();
                    }
                });
            }

            function timeout(ms) {
                return new Promise(resolve => setTimeout(resolve, ms));
            }

            glasses.forEach(g => g.classList.remove('show'));
            if (enterBtn) enterBtn.classList.remove('show');

            await Promise.race([
                Promise.all([
                    waitForFonts(),
                    waitForImages(glasses),
                    waitForMediaReady(firstVideo),
                    waitForMediaReady(music),
                    waitForMediaReady(cheersSound)
                ]),
                timeout(8000)
            ]);

            if (loadingText) {
                loadingText.classList.add('hide');
            }

            setTimeout(() => {
                glasses.forEach(g => g.classList.add('show'));
                if (enterBtn) enterBtn.classList.add('show');
            }, 300);

            if (enterBtn) {
                enterBtn.addEventListener('click', function (e) {
                    e.preventDefault();
                    e.stopPropagation();

                    if (isEntering) return;
                    isEntering = true;

                    if (cheersArea) {
                        cheersArea.classList.remove('cheers');
                        void cheersArea.offsetWidth; // 重新觸發動畫
                        cheersArea.classList.add('cheers');
                    }

                    if (cheersSound) {
                        try {
                            cheersSound.pause();
                            cheersSound.currentTime = 0;
                            cheersSound.play().catch(() => { });
                        } catch (e) { }
                    }

                    if (music) {
                        music.play().catch(() => { });
                        music.volume = 0.8;
                    }

                    window.scrollTo({ top: 0, behavior: 'auto' });

                    setTimeout(() => {
                        if (overlay) {
                            overlay.style.opacity = '0';
                            overlay.style.pointerEvents = 'none';

                            setTimeout(() => {
                                overlay.style.display = 'none';
                            }, 600);
                        }
                    }, 350); // 等敲杯動畫先跑一下再淡出
                }, { passive: false });
            }

            if (firstVideo) {
                const observer = new IntersectionObserver((entries) => {
                    entries.forEach(entry => {
                        const video = entry.target;

                        if (entry.isIntersecting) {
                            video.play().catch(() => { });
                        } else {
                            video.pause();
                        }
                    });
                }, {
                    threshold: 0.5
                });

                observer.observe(firstVideo);
            }
        });
    </script>
</body>

</html>